
$border-color:#eee;
$search-btn-min-width:58px;

* {margin: 0; padding: 0; box-sizing: border-box;}
html{
  font-size: 16px;
  color:#444;

  body {
    #app {

      pre {
        display: flex;
        flex-direction: column;
        background: #333;
        max-width: 600px;
        color: #fff;
        padding: 20px;
        border-radius: 8px;
        //margin:20px 0;
        > code {
          margin-bottom: 10px;

          &:last-child{
            margin-bottom: 0;

          }

        }
      }
      .g-layout {
        height: 100vh;

        .g-header {
          padding:12px;
          border-bottom:1px solid $border-color;

          .logo {
            font-size:24px;
            font-weight: bold;
          }

          .search-input {
            input {
              min-width: 200px;
            }
          }
          .search-btn {
            min-width: $search-btn-min-width;
            margin-left:.5em;
          }
        }

        .g-content {
          overflow: scroll;


           .g-tab-head {
             width:25%;

             .g-tab-item {
                font-size:1.1rem;
               &:first-child {
                 padding-top:20px;
               }
             }
           }

           .g-tab-pane {
             color:#333;
             padding-left:60px;
             padding-top:40px;

             h1 {
               padding-bottom:40px;
             }
             h2 {
               padding-bottom:30px;
             }
             h3 {
               padding:20px 0;
             }
             h4 {
               padding:15px 0;
             }
             p {
               font-size: 1.1rem;
                margin:10px 0;
             }

             .button-demo {
                .g-button {
                  margin-right:20px;
                }
             }

             .input-demo {
               margin-bottom: 20px;

               > .g-input {
                 margin-right:20px;
               }

               &:last-child {
                 margin-bottom: 0;
               }
             }

             .layout-demo {
               margin:30px 0;

               .g-layout{
                 height:200px;
                 width: 400px;
                 color:#fff;
                 .g-header {
                   padding:10px;
                   background-color: lightblue;
                   text-align: center;
                 }
                 .g-footer {
                   padding:10px;
                   background-color: lightblue;
                 }
                 .g-content {
                   background-color: skyblue;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                 }
                 .g-side {
                   padding:30px;
                   background-color: lightblue;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                 }

               }
             }

             .grid-demo {
               .g-row {
                 margin-bottom: 20px;
               }
               .g-col {

                 div {
                   outline: 1px solid pink;
                   background-color:#eee;
                   height:40px;
                   flex-grow: 1;
                 }

               }
             }
           }

          .g-slides {
            width: 450px;
            height: 300px;

            .g-slide-item {
              width: 450px;
              height: 300px;
            }
          }
        }
        .g-footer {
            border-top:1px solid $border-color;
            padding-top:1.1rem;
            padding-bottom:1.1rem;
            text-align: center;
            font-size: .9rem;
        }
      }
    }

  }

}

